<!DOCTYPE html>
<html>
<body>
    
    <text>
        <div>

        </div>
        <div>

        </div>
        <p>submitted</p>
        <div>

        </div>
        <div>
            <p>submitted</p>

        </div>
    </text>
    <text> Your responses have been submitted </text>
</body>
</html>