@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SurvApe</h1> @*bootstrap.css ln 4931*@
</div>

<div class="row">
    <div class="col-md-44">

        <p><a class="btn btn-info btn-block" href='@Url.Action("Create", "Surveys")'>Create A Survey &raquo;</a></p>
    </div>
    <div class="col-md-44">
        <p><a class="btn btn-info btn-block" href='@Url.Action("Index", "Surveys")'>View Surveys &raquo;</a></p>
    </div>
    <div class="col-md-44">
 
        <p><a class="btn btn-info btn-block" href='@Url.Action("Create", "Pollsters")'>Enter Your Info &raquo;</a></p>
    </div>
</div>