@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SurvApe</h1> @*bootstrap.css ln 4931*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Create", "Surveys")'>Create A Survey &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Surveys</h2>
        <p></p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Surveys")'>View Surveys &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tell us about yourself</h2>
        <p></p>
        <p><a class="btn btn-default" href='@Url.Action("Create", "Pollsters")'>Enter Your Info &raquo;</a></p>
    </div>
</div>