@model IEnumerable<SurvApe.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Surveys</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
    </tr>
@if (Model != null)
{
foreach (var item in Model)
{
    <tr>
        <td>                  
                @Html.DisplayFor(modelItem => item.Title)            
        </td>
        <td>
            @*@Html.ActionLink("Fill Out Survey", "Index", "Questions", new { id = item.ID }, null)*@
            <p><a class="btn btn-info btn-block" href='@Url.Action("Index", "Questions", new { id = item.ID }, null)'>View Survey &raquo;</a></p>

        </td>
    </tr>
    }
}
    </table>